/*
 * ----------------------------------------------------------------------------
 * Proyek: Nusantara Language
 * Penulis: Fern Aerell
 * Lisensi: BSD 3-Clause License
 * Hak Cipta (c) 2024, Nusantara
 * ----------------------------------------------------------------------------
 */

#ifndef VERSI_HPP_TEMPLATE
#define VERSI_HPP_TEMPLATE

#define VERSI "@NUSANTARA_VERSION@"

#endif
